/**
*
* align.css
* @author- Arshath
* @date- 20/11/2022
*/
.t-center {
    text-align: center;
}
.h-center {
    display: flex;
    justify-content: center;
}
.v-center {
    display: flex;
    align-items: center;
}
.vh-center {
    display: flex;
    justify-content: center;
    align-items: center;
}